<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/home.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/base.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/responsive.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{asset/fontawesome-free-6.2.0-web/css/all.min.css}"/>
</head>
<body>
    <div class="modal">
        <div class="modal__overlay"></div>
        <div class="modal__body">
            <!-- Login form -->
            <div class="auth-form">
                <div class="auth-form__container">
                    <form th:action="@{/login}" method="post">
                        <div class="auth-form__header">
                            <h3 class="auth-form__heading">Đăng nhập</h3>
                            <span class=""><a class="auth-form__switch-form" th:href="@{/register}">Đăng ký</a></span>
                        </div>

                        <div class="auth-form__form">
                            <div class="auth-form__group">
                                <input type="text" id="username" name="username" class="auth-form__input" placeholder="Username">
                            </div>
                            <div class="auth-form__group">
                                <input type="password" id="password" name="password" class="auth-form__input" placeholder="Mật khẩu của bạn">
                            </div>
                        </div>

                        <div class="auth-form__aside">
                            <div class="auth-form__help">
                                <a href="" class="auth-form__help-link auth-form__help-forget">
                                    Quên mật khẩu
                                </a>
                                <span class="auth-form__help-sparet"></span>
                                <a href="" class="auth-form__help-link">
                                    Cần trợ giúp?
                                </a>
                            </div>
                        </div>

                        <div class="auth-form__controls">
                            <button class="btn btn--normal auth-form__controls-back"><a  class="auth-form__controls-back--link" href="home.html">TRỞ LẠI</a></button>
                            <button class="btn btn--primary">ĐĂNG NHẬP</button>
                        </div>

                </div>

                <div class="auth-form__social">
                    <a href="" class="auth-form__social--facebook btn btn--size-s btn--width-icon">
                        <i class="auth-form__social-icon fa-brands fa-square-facebook"></i>
                        <span class="auth-form__social-title">
                                Kết nối với Facebook
                            </span>
                    </a>

                    <a href="" class="auth-form__social--google btn btn--size-s btn--width-icon">
                        <i class="auth-form__social-icon fa-brands fa-square-google-plus"></i>
                        <span class="auth-form__social-title">
                                Kết nối với Google
                            </span>
                    </a>
                </div>
                </form>
            </div>
    </div>
  </body>
</html>