<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"/>
</head>
<div layout:fragment="headera">
  <div class="grid">
    <nav class="header__navbar">
      <ul class="header__navbar--list">
        <li class="header__navbar--item header__navbar--item-has-qr header__navbar--item--separate">
          Tải ứng dụng
          <div class="header__qr">
            <img th:src="@{/asset/img/shoppe.png}" alt="QR code" class="header__qr-img">
            <div class="header__qr-app">
              <a href=""class="header__qr-download-link" style="margin-left: 11px"><img th:src="@{/asset/img/gg_play.png}" alt="" class="header__qr-download-img"></a>
              <a href="" class="header__qr-download-link" style="margin-right: 11px"><img th:src="@{/asset/img/app_store.png}" alt="" class="header__qr-download-img"></a>
            </div>
          </div>
        </li>
        <li class="header__navbar--item">
          <span class="header__navbar--title--no-pointer">Kết nối</span>
          <a href="" class="header__navbar-icon-link">
            <i class="header__navbar-icon fa-brands fa-facebook"></i>
          </a>
          <a href="" class="header__navbar-icon-link">
            <i class="header__navbar-icon fa-brands fa-instagram"></i>
          </a>
          <a href="" class="header__navbar-icon-link">
            <i class="header__navbar-icon fa-brands fa-twitter"></i>
          </a>
        </li>

      </ul>

      <ul class="header__navbar--list">
        <li class="header__navbar--item header__navbar--item--has-notify">
          <a href="" class="header__navbar-item-link">
            <i class="header__navbar-icon fa-solid fa-globe"></i>
            Ngôn ngữ
          </a>
          <div class="header__wolrd">
            <header class="header__wolrd-header">
              <div class="header__wolrd-header--stranlate">
                <img th:src="@{/asset/img/VN.png}" alt="" class="header__wolrd-header--stranlate-img">
                <h3>Tiếng Việt</h3>
              </div>

              <div class="header__wolrd-header--stranlate header__wolrd-header--stranlate-sepatate">
                <img th:src="@{/asset/img/USA.png}" alt="" class="header__wolrd-header--stranlate-img">
                <h3>Tiếng Anh</h3>
              </div>

            </header>
            <!-- <ul class="header__notifi-list">
                <li class="header__notifi-items header__notifi-items--view">
                    <a href="" class="header__notifi-link">
                        <img src="/shopee/asset/img/images.jfif" alt="" class="header__notifi-img">
                        <div class="header__notifi-body">
                            <span class="header__notifi-name">Xác thực chính hãng nguồn gốc các sản phẩm Ohui</span>
                            <span class="header__notifi-description">Hidden tag là giải pháp xác thực hàng chính hãng bằng công nghệ tiên tiến nhất hiện nay.</span>
                        </div>
                    </a>
                </li>
                <li class="header__notifi-items header__notifi-items--view">
                    <a href="" class="header__notifi-link">
                        <img src="/shopee/asset/img/images.jfif" alt="" class="header__notifi-img">
                        <div class="header__notifi-body">
                            <span class="header__notifi-name">Sale sốc bộ dưỡng tái tạo trẻ hóa da Ohui <br> Sale off 70%</span>
                            <span class="header__notifi-description">Mô tả chính hãng</span>
                        </div>
                    </a>
                </li>
                <li style="background-color: rgba(255, 255, 255, 0.1);" class="header__notifi-items header__notifi-items--view">
                    <a href="" class="header__notifi-link">
                        <img src="/shopee/asset/img/images.jfif" alt="" class="header__notifi-img">
                        <div class="header__notifi-body">
                            <span class="header__notifi-name">Mỹ phẩm</span>
                            <span class="header__notifi-description">Mô tả chính hãng</span>
                        </div>
                    </a>
                </li>
            </ul> -->
            <!-- <footer class="header__noti-footer">
                <a href="" class="header__noti-footer-btn">
                    Xem tất cả
                </a>
            </footer> -->
          </div>
        </li>
        <li class="header__navbar--item header__navbar--item--has-notify">
          <a href="" class="header__navbar-item-link">
            <i class="header__navbar-icon fa-regular fa-bell"></i>
            Thông báo
          </a>
          <div class="header__notifi">
            <header class="header__notifi-header">
              <h3>Thông báo mới nhận</h3>
            </header>
            <ul class="header__notifi-list">
              <li class="header__notifi-items header__notifi-items--view">
                <a href="" class="header__notifi-link">
                  <img th:src="@{/asset/img/650se.jpg}" alt="" class="header__notifi-img">
                  <div class="header__notifi-body">
                    <span class="header__notifi-name">NINJA 650 SE</span>
                    <span class="header__notifi-description">Mẫu xe Kawasaki Ninja 650 được sinh ra để tiếp tục làm rạng danh dòng mô tô thể thao Ninja.</span>
                  </div>
                </a>
              </li>
              <li class="header__notifi-items header__notifi-items--view">
                <a href="" class="header__notifi-link">
                  <img th:src="@{/asset/img/H2.jpg}" alt="" class="header__notifi-img">
                  <div class="header__notifi-body">
                    <span class="header__notifi-name">Z650 SE ABS</span>
                    <span class="header__notifi-description">Phong cách Sugomi nổi bật, khả năng điều khiển dễ dàng cùng sức mạnh dễ tiếp cận dã gợi lên tinh thần của Kawasaki Z</span>
                  </div>
                </a>
              </li>
              <li class="header__notifi-items header__notifi-items--view">
                <a href="" class="header__notifi-link">
                  <img th:src="@{/asset/img/ZH2.jpg}" alt="" class="header__notifi-img">
                  <div class="header__notifi-body">
                    <span class="header__notifi-name">ZH2 SE</span>
                    <span class="header__notifi-description">Khối động cơ 998 cm³ trên Z H2 đã được nâng lên tầm cao mới với hệ thống Siêu nạp như trên mẫu xe Ninja H2 vô song.</span>
                  </div>
                </a>
              </li>
            </ul>
            <footer class="header__noti-footer">
              <a href="" class="header__noti-footer-btn">
                Xem tất cả
              </a>
            </footer>
          </div>
        </li>
        <li class="header__navbar--item">
          <a href="" class="header__navbar-item-link">
            <i class="header__navbar-icon fa-regular fa-circle-question"></i>
            Trợ giúp
          </a>
        </li>
        <!-- <li class=""><a class="header__navbar--item header__navbar--item--bold header__navbar--item--separate" href="register.html">Đăng ký</a></li>
        <li class="header__navbar--item header__navbar--item--bold">Đăng nhập</li> -->
        <li class="header__navbar--item header__navbar-user">
          <img src="https://scontent.fsgn5-5.fna.fbcdn.net/v/t39.30808-6/246463405_1343322452790999_6166771726533564294_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=ni5afx114dMAX8FU-wk&_nc_ht=scontent.fsgn5-5.fna&oh=00_AfDgJqGqAc6B3ZvuCbWuthp7quzF9xvcTTSKIQU90XmtRg&oe=6382F5BF" alt="" class="header__navbar-user-img">
          <span class="header__navbar-user-name" sec:authentication="name"></span>

          <ul class="header__navbar-user-menu">
            <!-- <li class="header__navbar-user-menu-item">
                <a href="">Tài khoản của tôi</a>
            </li>
            <li class="header__navbar-user-menu-item">
                <a href="">Địa chỉ</a>
            </li>
            <li class="header__navbar-user-menu-item">
                <a href="">Đơn mua</a>
            </li> -->
            <li class="header__navbar-user-menu-item header__navbar-user-menu-item--separate" sec:authorize="isAuthenticated()">
              <a href="/logout">Đăng xuất</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- header-logo -->
    <div class="header-with-search">
      <div class="header__logo">
        <a th:href="@{/}">
          <img th:src="@{/asset/img/Vector.png}" alt="" class="header__logo-img">
        </a>
      </div>

      <div class="header__title">
        <div class="header__title-body">
          <span class="header__title-body-heading">Người bán của Motos</span>
        </div>
      </div>
    </div>
  </div>
</div>>
</html>
