<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div layout:fragment="footers">
        <div class="footer">
    <div class="grid">
        <div class="grid__row">
            <div class="grid__column-2-4">
                <h3 class="footer__heading">Chăm sóc khách hàng</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="" class="footer__item-link">Trung tâm trợ giúp</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__item-link">Xe của tôi</a>
                    </li>
                </ul>
            </div>

            <div class="grid__column-2-4">
                <h3 class="footer__heading">Về chúng tôi</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="" class="footer__item-link">Giới thiệu</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__item-link">Tuyển dụng</a>
                    </li>
                </ul>
            </div>

            <div class="grid__column-2-4">
                <h3 class="footer__heading">Theo dõi chúng tôi trên</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="" class="footer__item-link">
                            <i class="footer__item-icon fa-brands fa-facebook"></i>
                            Facebook
                        </a>
                    </li>

                    <li class="footer__item">
                        <a href="" class="footer__item-link">
                            <i class="footer__item-icon fa-brands fa-instagram"></i>
                            Instagram
                        </a>
                    </li>

                    <li class="footer__item">
                        <a href="" class="footer__item-link">
                            <i class="footer__item-icon fa-brands fa-twitter"></i>
                            Twitter
                        </a>
                    </li>
                </ul>
            </div>

            <div class="grid__column-2-4">
                <h3 class="footer__heading">Vào cửa hàng trên ứng dụng</h3>
                <div class="footer__download">
                    <img src="asset/img/qrcode.png" alt="Download QR" class="footer__download-qr">

                    <div class="footer__download-apps">
                        <a href="" class="footer__download-apps-link">
                            <img src="asset/img/gg_play.png" alt="Google Play" class="footer__download-apps-img">
                        </a>
                        <a href="" class="footer__download-apps-link">
                            <img src="asset/img/app_store.png" alt="App Store" class="footer__download-apps-img">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer__bottom">
        <div class="grid">
            <p class="footer__text">© 2023 - Bản quyền thuộc về trang web bán xe</p>
        </div>
    </div>
    </div>

</div>
</html>
